.formContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 24px;
  }
  
  .customizeInputGroup {
    margin-bottom: 1rem;
  }
  
  .customizeInputGroup label {
    color: #8590a3;
    font-size: 14px;
    font-weight: 600;
  }
  
  .customizeInputGroup input {
    max-width: 20rem;
  }
  .selectBoxRoot select {
    max-width: 20rem;
  }
  .buttonContainer {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
  }
  
  .newButton {
    max-width: fit-content;
    padding: 4px 12px;
    font-size: 14px;
  }
  